menixShem.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jelovnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ham">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ime" type="xs:string" />
              <xs:element name="cijena" type="xs:decimal" />
              <xs:element name="opis" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 